<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.raisehand.mapper.ImageMapper">

    <resultMap id="imgMap" type="edu.nju.raisehand.model.Image">
        <result column="id" property="id" />
        <result column="path" property="path" />
        <result column="cwd" property="cwd" />
        <result column="name" property="name" />
        <result column="orign_name" property="orignName" />
        <result column="time" property="time" />
    </resultMap>

    <insert id="insertPic" parameterType="edu.nju.raisehand.model.Image">
        insert into `image`(id, path, cwd, name, orign_name, time) values(#{id}, #{path}, #{cwd}, #{name}, #{orignName}, now())
    </insert>

    <select id="getAllPics" resultMap="imgMap">
        select id, path, cwd, name, orign_name, time from `image` order by time desc;
    </select>

    <select id="getAllPicsName" resultType="java.lang.String">
        select name from `image` order by time desc;
    </select>

    <delete id="deletePic" parameterType="java.lang.String">
        delete from `image` where id = #{id}
    </delete>

    <delete id="deletePicByName" parameterType="java.lang.String">
        delete from `image` where name = #{name}
    </delete>

</mapper>