<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RaiseHand</title>
    <script src="../static/js/lib/jquery-3.5.1.min.js"></script>
    <script src="../static/js/lib/toastr.min.js"></script>
    <script src="../static/js/lib/waves.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/toastr.min.css">
    <link rel="stylesheet" href="../static/css/waves.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    
    <div style="margin: 30px auto; display: flex; justify-content: center; align-items: center;">
        <input id="number" class="my_input" type="text" placeholder="请输入机位号（如A16）" maxlength="4" oninput = "value=value.replace(/[^A-Za-z0-9]/g,'')"/>
        <div id="handup" class="my_button waves" style="margin: 0 12px;" onclick="updateHand(1, $('#number').val().trim(), event)">举手</div>
        <div id="handdown" class="my_button waves" onclick="updateHand(0, $('#number').val().trim(), event)">放手</div>
    </div>

    <table cellspacing=0 cellpadding=5 style="margin: 0 auto; vertical-align: middle;">
        <tr>
            <td style="text-align: right;"><span>举手CD：</span></td>
            <td style="text-align: left;">
                <div class="progress" style="width: 440px; height: auto; margin: 16px auto; border-radius: 24px;">
                    <div id="handup-progress" class="progress-bar" style="width: 100%; height: 16px; line-height: 16px; background-color: springgreen; color:black;">
                        <span></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;"><span>放手CD：</span></td>
            <td style="text-align: left;">
                <div class="progress" style="width: 440px; height: auto; margin: 16px auto; border-radius: 24px;">
                    <div id="handdown-progress" class="progress-bar" style="width: 100%; height: 16px; line-height: 16px; background-color: springgreen; color:black;">
                        <span></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
    <table id="content" cellpadding=0 cellspacing=0 style="border: 0; height: auto; width: 90%; margin: 0 auto;"></table>
</body>

</html>